<manifest
  package="chat.viska"
  xmlns:android="http://schemas.android.com/apk/res/android">
  <application
    android:icon="@drawable/icon"
    android:label="@string/title_app"
    android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar">
    <activity android:name=".android.main.Activity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <service android:name=".android.ViskaService"/>
  </application>
</manifest>