<manifest
  package="viska"
  xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
>

  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.INTERNET" />

  <application
    android:allowBackup="false"
    android:icon="@drawable/icon"
    android:label="@string/app"
    android:name=".android.Application"
    android:supportsRtl="true"
    android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
    tools:replace="android:label"
  >
    <activity
      android:launchMode="singleInstance"
      android:name=".android.DashboardActivity"
    >
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:name=".android.NewProfileActivity"
      android:launchMode="singleInstance"
    />
    <activity
      android:name=".android.ChatroomActivity"
      android:documentLaunchMode="intoExisting"
    />
    <service android:name=".android.DaemonService" />
  </application>
</manifest>
